* {
  box-sizing: border-box;
}

body {
  background-color: #11151a;
  color: white;
  overflow-x: hidden;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.navbar  {
  background-color: #11151a;
  a {
  color: white;
  font-size: larger;
  margin-left: 0.5rem;
  }
}

.navbar-toggler {
  background-color: white;
}

.introduction {
  background-image: url('../Tech.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  
}

.introduction::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80vh;
  background-color: rgba(17, 24, 39, 0.6);
}

.intro-text {
    font-size: 3vw;
    font-weight: bold;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.4;
    padding: 20px;
    max-width: 80%; /* Maksymalna szerokość nagłówka */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Efekt cienia */
}

.img-container { 
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #111827;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2) ;
  border-top: 3px solid rgba(255, 255, 255, 0.2) ;
  

  .leftimg {
    margin-top: 6rem;
    width: 35%;
    height: 60vh;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 5rem;
  }
  p{
    color: white;
    width: 35%;
    word-wrap: break-word;
    margin: 0;
    
    span {
      display: inline-block;
      font-weight: bold;
      margin-bottom: 18px;
    }
  }
}


.second-img-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #111827;
  
  .rightimg {
    margin-top:8rem;
    margin-bottom: 8rem;
    width: 35%;
    height: 60vh;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.2);  
    
  }

  .btn {
    font-weight: bolder;
    background-color: #E11D48;
  }

  p{ 
    word-wrap: break-word;
    span {
      font-weight: bold;
    }
  }

  .text-button {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 35%; 
    
  }
}

.about-me {
  font-family: 'Poppins', Arial, sans-serif; /* Nowoczesna i czytelna czcionka */
  font-size: 1.2rem; /* Większa czcionka dla lepszej czytelności */
  line-height: 1.8; /* Więcej przestrzeni między wierszami */
  color: #ffffff; /* Jasny kolor tekstu */
  padding: 2rem; /* Duży odstęp wewnętrzny */
  border-radius: 12px; /* Zaokrąglenie rogów dla nowoczesnego wyglądu */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Mocniejszy cień dla efektu głębi */
  text-align: center; /* Wyśrodkowanie tekstu */
  margin: 2rem auto; /* Wyśrodkowanie na stronie */
  position: relative; /* Umożliwienie dodania ozdobnych elementów */
  overflow: hidden; /* Ukrycie elementów wychodzących poza granice kontenera */

}

/* Dodanie ozdobnych detali */
.about-me::before {
  content: '';
  position: absolute;
  top: -50px;
  right: -50px;
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: 1;
}

.about-me::after {
  content: '';
  position: absolute;
  bottom: -50px;
  left: -50px;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: 1;
}

/* Podkreślenie i wzmocnienie efektu interakcji */
.about-me:hover {
  transform: translateY(-5px); /* Subtelny efekt podniesienia */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3); /* Większy cień */
  transition: all 0.3s ease; /* Płynna animacja */
}

h1 {
  color: white;
  width: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  
}

#carouselExampleInterval {
  background-color: #11151a;
  width: 60%;
  margin: 0 auto;
  border: 2px solid rgba(255, 255, 255, 0.2);
  margin-top: 6rem;
  border-radius: 2rem;
}

.carousel-item  {
  height: 40vh;
  
  h5 {
    
    color: white;
    text-align: center;
    margin-top: 18.5vh;
  }
}

.footer-container {
  background-color: #11151a;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 5rem;
  border-top: 2px solid rgba(255, 255, 255, 0.2); /* Cienki półprzezroczysty border */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Delikatny cień */
  
}

.footer-text {
  margin: 0 0 10px;
  font-size: 17px;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 8px;
  
}

.icon {
  font-size: 1.4rem;
  color: #fff;
}

.contact-link {
  color: #fff;
  text-decoration: none;
  font-size: 17px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.contact-link:hover {
  color: #E11D48; /* Jasny kolor (np. złoty) */
  text-shadow: 0 0 10px #E11D48, 0 0 20px #E11D48;
}

.link {
  color: #4CAF50;
  text-decoration: none;
  margin: 0 10px;

  &:hover {
      text-decoration: underline;
  }
}

.separator {
  color: #fff;
}

.btn-animated {
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, background-color 0.3s ease;
}
.btn-animated:hover {
  transform: scale(1.1);
  background-color: #E11D48;
}
.btn-animated::after {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  transition: left 0.4s ease;
}
.btn-animated:hover::after {
  left: 100%;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;

  .arrow {
    color: white;
    font-size: 5rem;
    margin-top: 20rem;
    position: relative;
    z-index: 1;
    
  }
}

.forms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  background-color: #111827;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 5rem;
  border-top: 3px solid rgba(255, 255, 255, 0.2) ;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2) ;

  .photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    h3 {
      font-size: 1.5rem;
      color: white;
      margin: 0;
    }

    .photo-me {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #ddd;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 400px;

    .form-label {
      font-size: 1rem;
      color: white;
      font-weight: bold;
    }

    .form-input, .form-textarea {
      width: 100%;
      padding: 0.75rem;
      font-size: 1rem;
      color: #333;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
      box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
      transition: border-color 0.3s;

      &:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
      }
    }

    .form-textarea {
      resize: vertical;
      min-height: 100px;
    }

    .form-submit {
      padding: 0.75rem 1.5rem;
      font-size: 1rem;
      color: #fff;
      background-color: #6000ff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #6000ff;
        transform: scale(1.05); /* Powiększenie przy najechaniu */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Lekki cień */
      }
    }
  }
}

.custom-active-class {
  color: #E11D48 !important; 
   
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popup-content {
  background: #162029;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.popup-content button {
  margin-top: 10px;
  padding: 5px 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.popup-content button:hover {
  background: #0056b3;
}

.me-container{
  margin-top: 5rem;
}



.me-info {
  font-family: 'Poppins', Arial, sans-serif; /* Nowoczesna i czytelna czcionka */
  font-size: 1.2rem; /* Większa czcionka dla lepszej czytelności */
  line-height: 1.8; /* Więcej przestrzeni między wierszami */
  color: #ffffff; /* Jasny kolor tekstu */
  padding: 2rem; /* Duży odstęp wewnętrzny */
  border-radius: 12px; /* Zaokrąglenie rogów dla nowoczesnego wyglądu */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Mocniejszy cień dla efektu głębi */
  position: relative; /* Umożliwienie dodania ozdobnych elementów */
  overflow: hidden; /* Ukrycie elementów wychodzących poza granice kontenera */

  
  h3,p {
    margin-left: 5rem;
  }
  p {
    width: 80%;
  }
  h3 {
    margin-bottom: 2rem;
    
  }
}





/* Dodanie ozdobnych detali */
.me-info::before {
  content: '';
  position: absolute;
  top: -50px;
  right: -50px;
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: 1;
}

.me-info::after {
  content: '';
  position: absolute;
  bottom: -50px;
  left: -50px;
  width: 200px;
  height: 200px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  z-index: 1;
}

@media (max-width: 860px) {
.intro-text {
  font-size: 30px;
}

  .second-img-container {
    flex-direction: column; /* Układ pionowy */
    text-align: center; /* Centruj tekst */
    justify-content: baseline;
    
    
    .rightimg{
      width: 80%;
      height: 50vh;
      margin-top: 2rem;
    }
    p{
        
        margin-top: 4rem;
    }
    .btn {
      
      margin-top: 0;
    }
    .text-button {
      width: 90%;
    }
  }

  .img-container {
    flex-direction: column; /* Układ pionowy */
    text-align: center; /* Centruj tekst */
    justify-content: baseline;
    
    .leftimg{
      width: 80%;
      height: 50vh;
    }

    p{
      width: 90%;
      margin-bottom: 6rem;
      
    }

    .btn-bottom {
      margin-top: auto; /* Ustaw przycisk na dole kontenera */
    }
  }

  #carouselExampleInterval {
    width: 90%;

    h5 {
      margin-top: 7.5rem;
      width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  h1 {
    width: 90%;
  }

}


@media screen and (min-width: 861px) and (max-width: 1335px) {
  .img-container p{
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 55%;
  }

  .second-img-container .btn {
    margin-bottom: 1rem;

  }

  .second-img-container .text-button {
    width: 55%;
  }

}